* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body{
  background-image:linear-gradient(to bottom, rgba(23, 30, 70, 0.52), rgba(87, 24, 143, 0.73)), url(assets/pexels-maxyne-barcel-104022821.png);
     overflow: hidden;
    /* Center the image */  
    background-position: center;
    /* background-position: bottom -40% top 25% right 35% bottom 45%; */
   background-size: cover;  
  
   
  /* Resize the background image to cover the entire container */
  height: 100vh;
  width: 100vw;
  margin: 40px 40px;
  
  
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
 /* [aria-label="navbar"]{
  width: 40vw;
  margin-top: 60px;
  margin-left: 50px;

 } */
 .navbar{
  width: 100vw;
display: flex;
justify-content: space-around;
margin-top: 30px;
}
 .logo{
  /* margin-left: 40px; */
 }
  
 /* 
 .list{
  width: 80vw;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
   
   }
   .button-small{
    margin-top: 10px;
   }
 
  */
  .list{
    display: flex;
    width: 80vh;
    justify-content:  space-evenly;
   
  }
 .list-item {
  color: rgb(253, 209, 34);
  list-style-type: none;
  /* display: inline-block; */
   
  padding: 15px 25px;
  font-size: 25px;
}
.button-small{
   height: 40px;
   width: 120px;
   font-size: large;
   background-color: #f44336;
   border: none;
   color: white;
   margin-top: 10px;
    
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero{
  text-align: center;
  margin-top: 100px;
}
.hero-heading{
  /* width: 60vw;
  margin-right: 40px;
  margin-left: 150px; */
  font-size: 100px;
  color: rgb(253, 209, 34);;
  /* text-align: center; */
}
.button-large{
  height: 80px;
  width: 280px;
  padding: 10px  ;
  background-color: #f44336;
  color: white;
  border: none;
  margin-top: 20px;
  font-size:  25px;
  font-weight: 700;
   
}
.bottom{
  position: absolute;
  bottom: 100px;
  right: 100px;
   
}